//Colors
$grey: #333333;
$offWhite: #e0dfdf;
$lightBlue: #adc5ec;
$darkBlue: #045ae5;

//Nav Colors
$nav-background: $grey;
$menu-text-color: $offWhite;

// Clock
$clock-bg: $lightBlue;
$clock-text-color: #0b0b0c;
$clock-bodor-bg: $darkBlue;